{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "StackHawk Public API",
    "description" : "\n![STACKHAWK](https://www.stackhawk.com/wp-content/uploads/2025/07/stackhawk-light-long.png)\n# StackHawk API\n\nThis is the [OpenAPI specification](https://download.stackhawk.com/openapi/stackhawk-openapi.json) for the [StackHawk](https://www.stackhawk.com) REST API, affectionately known as _Falcon_ 🦅 #Kaakaww!\n\nStackHawk is an application security testing tool built for developers.\nWith powerful automation and integration capabilities, code repository analysis and the [HawkScan CLI](https://download.stackhawk.com) , StackHawk gives engineers the ability to find and fix security vulnerabilities in running web applications on every merge.\n\nView the [complete API Documentation](https://apidocs.stackhawk.com).\nExplore and [test this API on Postman](https://www.postman.com/stackhawk/workspace/stackhawk-public-workspace/collection/23949036-3955557e-1048-456b-81fb-7ad96a0536e8?ctx=documentation).\n",
    "termsOfService" : "https://www.stackhawk.com/terms-of-service/",
    "contact" : {
      "name" : "StackHawk Public API",
      "url" : "https://www.stackhawk.com",
      "email" : "hello@stackhawk.com"
    },
    "license" : {
      "name" : "private"
    },
    "version" : "0.0.1"
  },
  "externalDocs" : {
    "description" : "StackHawk API Documentation",
    "url" : "https://apidocs.stackhawk.com"
  },
  "servers" : [ {
    "url" : "https://api.stackhawk.com",
    "description" : "StackHawk REST API"
  } ],
  "tags" : [ {
    "name" : "ScanResults",
    "description" : "Management and reporting of user scan results"
  }, {
    "name" : "Organizations",
    "description" : "Management and resource creation on behalf of an organization"
  }, {
    "name" : "Hosted OAS",
    "description" : "Management of hosted OAS files"
  }, {
    "name" : "Repositories",
    "description" : "Manage Repositories"
  }, {
    "name" : "Scan Configuration",
    "description" : "Management of HawkScan Configuration files"
  }, {
    "name" : "Applications",
    "description" : "Management of StackHawk applications and environments"
  }, {
    "name" : "Reports",
    "description" : "Scan result reporting"
  }, {
    "name" : "Organization Teams",
    "description" : "Management of Teams in an Organization"
  }, {
    "name" : "Perch",
    "description" : "Control the perch service to issue scan commands"
  }, {
    "name" : "User",
    "description" : "Information about the authenticated user"
  }, {
    "name" : "Api Authentication",
    "description" : "Authentication and access to the StackHawk API"
  }, {
    "name" : "Scan Policies",
    "description" : "Management of Scan Policies"
  } ],
  "paths" : {
    "/api/v1/org/{orgId}/team/{teamId}" : {
      "get" : {
        "tags" : [ "Organization Teams" ],
        "summary" : "Get Team",
        "description" : "## Get Team\n\nGet the Organizations StackHawk Team.\n\nTeams group together StackHawk users and applications within a single Organization. StackHawk Teams help enforce permissions and organization around ownership. See [Teams](https://docs.stackhawk.com/web-app/teams.html).\n\n| Parameter | Default | Description |\n|:---:|:---:|:---:|\n|name|\"\"|The name of this team.|\n|id|\"\"|The UUID identifier of this team.|\n|applications|[]|The applications that belong to this Team.|\n|users|[]|The users that are members of this Team.|\n|organizationId|\"\"|The StackHawk organization that owns this Team.|\n\nAll users that belong to this organization can call this endpoint.\n\n> 🖍️ Restricted\n> This endpoint is *NOT* accessible to users with the **Member** role.\n",
        "operationId" : "getTeam",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Organization.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "teamId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Team.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/organization.TeamByIdResponse"
                }
              },
              "application/x-protobuf" : {
                "schema" : {
                  "$ref" : "#/components/schemas/organization.TeamByIdResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "400" : {
            "description" : "Bad Request"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Organization Teams" ],
        "summary" : "Update Team",
        "description" : "## Update Team\nUpdate this organization team info.\n\nRequest to update an existing StackHawk Team.\n\n| Parameter | Default | Description |\n|:---:|:---:|:---:|\n|teamId|\"\"|The UUID identifier of this tea,.|\n|name|\"\"|updated name for this team.|\n|applicationIds|[]|updated applicationIds for this team.|\n|userIds|[]|updated member ids for this team.|\n|organizationId|\"\"|The UUID identifier of this organization.|\n\n> 🧾 Audited\n> This is recorded as `TEAM_UPDATED` [User Activity](https://apidocs.stackhawk.com/reference/listauditactivity#user-activity-types).\n\n\n> 🖍️ Restricted\n> This endpoint is *NOT* accessible to users with the **Member** role.\n",
        "operationId" : "updateTeams",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Organization.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "teamId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Team.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/organization.UpdateTeamRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/organization.UpdateTeamResponse"
                }
              },
              "application/x-protobuf" : {
                "schema" : {
                  "$ref" : "#/components/schemas/organization.UpdateTeamResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "400" : {
            "description" : "Bad Request"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Organization Teams" ],
        "summary" : "Delete Team",
        "description" : "## Delete Team\nRemoves this Team from the StackHawk organization.\n\n> 🧾 Audited\n> This is recorded as `TEAM_DELETED` [User Activity](https://apidocs.stackhawk.com/reference/listauditactivity#user-activity-types).\n\n\n> 🖍️ Restricted\n> This endpoint is *NOT* accessible to users with the **Member** role.\n",
        "operationId" : "deleteTeam",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Organization.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "teamId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Team.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/organization.DeleteTeamResponse"
                }
              },
              "application/x-protobuf" : {
                "schema" : {
                  "$ref" : "#/components/schemas/organization.DeleteTeamResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "400" : {
            "description" : "Bad Request"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/v1/org/{orgId}/team/{teamId}/application" : {
      "put" : {
        "tags" : [ "Organization Teams" ],
        "summary" : "Update Team Application",
        "description" : "## Update Application Team\n\nChanges the team that owns this application.\n\nOnly users that belong to this team can use this endpoint.\n\n> 🧾 Audited\n> This is recorded as `APPLICATION_MODIFIED` [User Activity](https://apidocs.stackhawk.com/reference/listauditactivity#user-activity-types).\n\n\n> 🖍️ Restricted\n> This endpoint is *NOT* accessible to users with the **Member** role.\n",
        "operationId" : "updateApplicationTeam",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Organization.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "teamId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Team.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/organization.UpdateApplicationTeamRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/organization.UpdateApplicationTeamResponse"
                }
              },
              "application/x-protobuf" : {
                "schema" : {
                  "$ref" : "#/components/schemas/organization.UpdateApplicationTeamResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "400" : {
            "description" : "Bad Request"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/v1/org/{orgId}/repos/apps" : {
      "put" : {
        "tags" : [ "Repositories" ],
        "summary" : "Associate application to repository",
        "description" : "## Replace Repository Applications\n\nCreates the given apps and then adds them to the specified repos.\n\n**Usage:**\nOnly the id parameters are required for this request. All other fields are ignored.\n* `orgId`\n* `repoId`\n* `appInfos.[*].name` - one entry for the name of each app you want to create.\n\nNote that the other fields in `appInfos` are read-only for this request, and will be ignored.\n\n> 🧾 Audited\n> This is recorded as `APPLICATIONS_ADDED_FOR_REPOS` [User Activity](https://apidocs.stackhawk.com/reference/listauditactivity#user-activity-types).\n",
        "operationId" : "createAppsForRepos",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Organization.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/repository.AddApplicationToRepoRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/repository.AddApplicationToRepoResponse"
                }
              },
              "application/x-protobuf" : {
                "schema" : {
                  "$ref" : "#/components/schemas/repository.AddApplicationToRepoResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "400" : {
            "description" : "Bad Request"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/v1/app/{appId}/policy/flags" : {
      "get" : {
        "tags" : [ "Scan Policies" ],
        "summary" : "Get application tech flags",
        "description" : "## Get Tech Flags\nThis endpoint retrieves the technology flags set for this application. These flags are used to toggle the internal behavior of vulnerability checks executed during StackHawk security tests.\n\n- Tech flag names are strings, formatted with a namespace delineated by periods (`.`). For example, `Language.Java.Spring` and `OS.MacOS`.\n- Each tech flag falls under one of the following five categories:\n    - `Db`\n    - `Language`\n    - `OS`\n    - `SCM`\n    - `WS`\n\n**Additional Information:**\n- Refer to the [Update Tech Flags](ref:updateapptechflags) endpoint documentation for a comprehensive list of all available tech flags and their respective categories.\n",
        "operationId" : "getAppTechFlags",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Application.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "boolean"
                  }
                }
              },
              "application/x-protobuf" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "boolean"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "400" : {
            "description" : "Bad Request"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Scan Policies" ],
        "summary" : "Update application tech flags",
        "description" : "## Update Tech Flags\nUpdates the technology flags for this application.\n\nAdjusting these tech flags alters the behavior of plugins by either conditionally executing or operating differently based on the enabled flags. Optimizing tech flags by excluding unused technologies can speed up scans and reduce false positives.\n\n**Additional Information:**\n- The `techFlags` map provided must contain keys that exactly match the accepted technology flags. Use the [Get application tech flags](ref:getapptechflags) endpoint to read the current configuration for an application.\n- The default value for all flags is `true`. Setting a flag to `false` will disable or alter the behavior of related plugins.\n\n**Accepted Technology Flags:**\n\n| Technology Flags        |\n|-------------------------|\n| Db                      |\n| Db.MySQL                |\n| Db.PostgreSQL           |\n| Db.Microsoft SQL Server |\n| Db.Oracle               |\n| Db.SQLite               |\n| Db.Microsoft Access     |\n| Db.Firebird             |\n| Db.SAP MaxDB            |\n| Db.Sybase               |\n| Db.IBM DB2              |\n| Db.HypersonicSQL        |\n| Db.MongoDB              |\n| Db.CouchDB              |\n| Language                |\n| Language.ASP            |\n| Language.C              |\n| Language.Java           |\n| Language.Java.Spring    |\n| Language.JavaScript     |\n| Language.JSP/Servlet    |\n| Language.PHP            |\n| Language.Python         |\n| Language.Ruby           |\n| Language.XML            |\n| OS                      |\n| OS.Linux                |\n| OS.MacOS                |\n| OS.Windows              |\n| SCM                     |\n| SCM.Git                 |\n| SCM.SVN                 |\n| WS                      |\n| WS.Apache               |\n| WS.IIS                  |\n\n> 🧾 Audited\n> This is recorded as `TECH_FLAG_MODIFIED` [User Activity](https://apidocs.stackhawk.com/reference/listauditactivity#user-activity-types).\n",
        "operationId" : "updateAppTechFlags",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Application.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "additionalProperties" : {
                  "type" : "boolean"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/application.UpdateApplicationScanPolicyResponse"
                }
              },
              "application/x-protobuf" : {
                "schema" : {
                  "$ref" : "#/components/schemas/application.UpdateApplicationScanPolicyResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "400" : {
            "description" : "Bad Request"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/v1/app/{appId}/policy/assign" : {
      "put" : {
        "tags" : [ "Scan Policies" ],
        "summary" : "Assign app scan policy plugins",
        "description" : "## Assign Scan policy\nThis endpoint is used to assign scan policy plugins to the scan policy of this application.\n\nThe scan policy determines the set of vulnerability checks, known as 'plugins', and the technology flags that configure StackHawk security tests. Scan policies can be either predefined StackHawk Policies, identified by `name`, or customized Application Policies specific to an `applicationId`.\n\n**Usage:**\n- Utilize the [All StackHawk Scan Policies](ref:allstackhawkscanpolicies) endpoint to retrieve the names of accepted StackHawk scan policies.\n- Plugins within the scan policy dictate the vulnerability checks conducted in StackHawk security tests.\n- Technology flags within the scan policy further refine the behavior of these vulnerability checks in relation to applicable technologies.\n\n**Scan Policy Types:**\n- **StackHawk Policies:** Identified by `name`, these predefined policies provide a standard set of plugins and tech flag configurations.\n- **Application Policies:** Tailored per `applicationId`, allowing for customized application-specific plugin and tech flag configurations.\n\n\n> 🧾 Audited\n> This is recorded as `APPLICATION_POLICY_MODIFIED` [User Activity](https://apidocs.stackhawk.com/reference/listauditactivity#user-activity-types).\n\n\n> 🖍️ Restricted\n> This endpoint is *NOT* accessible to users with the **Member** role.\n",
        "operationId" : "assignAppPlugins",
        "parameters" : [ {
          "name" : "policyName",
          "in" : "query",
          "description" : "A named StackHawk scan policy, or the DEFAULT policy if not provided.",
          "required" : false,
          "schema" : {
            "maxLength" : 64,
            "type" : "string",
            "default" : "DEFAULT"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Application.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/application.UpdateApplicationScanPolicyResponse"
                }
              },
              "application/x-protobuf" : {
                "schema" : {
                  "$ref" : "#/components/schemas/application.UpdateApplicationScanPolicyResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "400" : {
            "description" : "Bad Request"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/v1/policy/{orgId}/update" : {
      "post" : {
        "tags" : [ "Scan Policies" ],
        "summary" : "Update Organization Scan Policy",
        "description" : "Creates or updates an organization scan policy for this organization.\n\n\n> 🧾 Audited\n> This is recorded as `ORGANIZATION_POLICY_MODIFIED` [User Activity](https://apidocs.stackhawk.com/reference/listauditactivity#user-activity-types).\n",
        "operationId" : "setScanPolicyForOrg",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Organization.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/scanpolicy.UpsertOrganizationScanPolicyRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : { }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "400" : {
            "description" : "Bad Request"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/v1/org/{orgId}/team" : {
      "post" : {
        "tags" : [ "Organization Teams" ],
        "summary" : "Create Team",
        "description" : "## Create Team\nCreate a new StackHawk Team for this organization.\n\n> 🧾 Audited\n> This is recorded as `TEAM_ADDED` [User Activity](https://apidocs.stackhawk.com/reference/listauditactivity#user-activity-types).\n\n\n> 🖍️ Restricted\n> This endpoint is *NOT* accessible to users with the **Member** role.\n",
        "operationId" : "createTeam",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Organization.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/organization.CreateTeamRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/organization.CreateTeamResponse"
                }
              },
              "application/x-protobuf" : {
                "schema" : {
                  "$ref" : "#/components/schemas/organization.CreateTeamResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "400" : {
            "description" : "Bad Request"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/v1/org/{orgId}/repo/{repoId}/applications" : {
      "post" : {
        "tags" : [ "Repositories" ],
        "summary" : "Replace repository application mappings",
        "description" : "## Replace Repository Applications\n\n**Replace** the list of applications for the given repository.\n\n**Usage:**\nOnly the id parameters are required for this request. All other fields are ignored.\n* `orgId`\n* `repoId`\n* `appInfos.[*].id` - one entry for each app you want to map. You must pass in current mappings to maintain them.\n\nNote that the other fields in `appInfos` are read-only for this request, and will be ignored.\n\n> 🧾 Audited\n> This is recorded as `APPLICATIONS_ADDED_FOR_REPOS` [User Activity](https://apidocs.stackhawk.com/reference/listauditactivity#user-activity-types).\n",
        "operationId" : "replaceRepoAppMappings",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Organization.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "repoId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Repository.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/repository.ReplaceRepositoryAppMappingsRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/repository.ReplaceRepositoryAppMappingsResponse"
                }
              },
              "application/x-protobuf" : {
                "schema" : {
                  "$ref" : "#/components/schemas/repository.ReplaceRepositoryAppMappingsResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "400" : {
            "description" : "Bad Request"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/v1/org/{orgId}/app" : {
      "post" : {
        "tags" : [ "Applications" ],
        "summary" : "Create application",
        "description" : "## Create Application\nCreates a new Stackhawk Application for this organization.\n\nApplications group scan results from HawkScan, and coordinate settings to influence HawkScan behavior. The application may also contain a specific environment name and id.\nFor more information, see [Applications](https://docs.stackhawk.com/web-app/applications.html).\n\n| Parameter | Default | Description |\n|:---:|:---:|:---:|\n|applicationId|\"\"|The UUID identifier of this application.|\n|name|\"\"|The name of this application.|\n|env|\"\"|The name of this environment. Only set when requesting Application Environments.|\n|envId|\"\"|The UUID identifier of this environment.|\n|applicationStatus|\"ACTIVE\"|The status of this application. Either ACTIVE or ENV_INCOMPLETE.|\n|organizationId|\"\"|The UUID identifier of the organization that owns this application.|\n|applicationType|\"STANDARD\"|The type of this application.|\n|cloudScanTarget|{}|Optional Cloud Scan Target configuration.|\n\nThe `env` and `envId` fields are not populated on the response with this endpoint.\n\n> 👥 Teams Supported\n> If the user belongs to a StackHawk [Team](https://docs.stackhawk.com/web-app/teams.html), a created application will belong to the user's Team.\n\n> 🧾 Audited\n> This is recorded as `APPLICATION_ADDED` [User Activity](https://apidocs.stackhawk.com/reference/listauditactivity#user-activity-types).\n",
        "operationId" : "createApplication",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Organization.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/application.NewApplicationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Applications group scan results from HawkScan, and coordinate settings to influence HawkScan behavior. The application may also contain a specific environment name and id.\nFor more information, see [Applications](https://docs.stackhawk.com/web-app/applications.html).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/application.Application"
                }
              },
              "application/x-protobuf" : {
                "schema" : {
                  "$ref" : "#/components/schemas/application.Application"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "400" : {
            "description" : "Bad Request"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/v1/oas/{appId}/mapping" : {
      "get" : {
        "tags" : [ "Hosted OAS" ],
        "summary" : "Get application OpenAPI specs",
        "description" : "Retrieves all OpenAPI specifications mapped to the specified application.\n",
        "operationId" : "getApplicationMappedOAS",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Application.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get the OAS specs mapped to this application for use with HawkScan.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/app_oas.GetApplicationMappedOASResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "400" : {
            "description" : "Bad Request"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Hosted OAS" ],
        "summary" : "Map application OpenAPI specs",
        "description" : "Toggle includes an OpenAPI specification from a repository source with the specified application.\n",
        "operationId" : "toggleApplicationOASMapping",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Application.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/app_oas.MapRepositoryOASSpecToApplicationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Get the OAS specs mapped to this application for use with HawkScan.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/app_oas.GetApplicationMappedOASResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "400" : {
            "description" : "Bad Request"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/v1/configuration/{orgId}/validate" : {
      "post" : {
        "tags" : [ "Scan Configuration" ],
        "summary" : "Validate Scan Configuration",
        "description" : "Validates a HawkScan Configuration for potential problems.\n",
        "operationId" : "validateScanConfiguration",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Organization.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/configuration.UpsertScanConfigurationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "* a response of validation problems (markers) for an asset, that work with code editor linters",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/configuration.ValidatedAssetResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "400" : {
            "description" : "Bad Request"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/v1/configuration/{orgId}/update" : {
      "post" : {
        "tags" : [ "Scan Configuration" ],
        "summary" : "Update App or Organization Scan Configuration",
        "description" : "Creates or updates an organization scan configuration for this organization.\n\n\n> 🧾 Audited\n> This is recorded as `ORGANIZATION_CONFIGURATION_MODIFIED` [User Activity](https://apidocs.stackhawk.com/reference/listauditactivity#user-activity-types).\n",
        "operationId" : "setScanConfigurationForOrg",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Organization.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/configuration.UpsertScanConfigurationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : { }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "400" : {
            "description" : "Bad Request"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/v1/configuration/{orgId}/rename" : {
      "post" : {
        "tags" : [ "Scan Configuration" ],
        "summary" : "Rename an Organization Scan Configuration",
        "description" : "Renames an existing scan configuration for this organization.\n\n\n> 🧾 Audited\n> This is recorded as `ORGANIZATION_CONFIGURATION_MODIFIED` [User Activity](https://apidocs.stackhawk.com/reference/listauditactivity#user-activity-types).\n",
        "operationId" : "renameScanConfigurationForOrg",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Organization.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/configuration.RenameOrganizationScanConfigurationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : { }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "400" : {
            "description" : "Bad Request"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/v1/app/{appId}" : {
      "get" : {
        "tags" : [ "Applications" ],
        "summary" : "Get application",
        "description" : "## Get Application\n\nGets this StackHawk Application.\n\nApplications group scan results from HawkScan, and coordinate settings to influence HawkScan behavior. The application may also contain a specific environment name and id.\nFor more information, see [Applications](https://docs.stackhawk.com/web-app/applications.html).\n\n| Parameter | Default | Description |\n|:---:|:---:|:---:|\n|applicationId|\"\"|The UUID identifier of this application.|\n|name|\"\"|The name of this application.|\n|env|\"\"|The name of this environment. Only set when requesting Application Environments.|\n|envId|\"\"|The UUID identifier of this environment.|\n|applicationStatus|\"ACTIVE\"|The status of this application. Either ACTIVE or ENV_INCOMPLETE.|\n|organizationId|\"\"|The UUID identifier of the organization that owns this application.|\n|applicationType|\"STANDARD\"|The type of this application.|\n|cloudScanTarget|{}|Optional Cloud Scan Target configuration.|\n\n```json\n{\n\t\"applicationId\": \"\",\n\t\"name\": \"\",\n\t\"env\": \"\",\n\t\"envId\": \"\",\n\t\"applicationStatus\": \"UNKNOWN\",\n\t\"organizationId\": \"\",\n\t\"applicationType\": \"UNKNOWN\",\n\t\"cloudScanTarget\": {}\n}\n```\n```javascript\nconst application = {\n\tapplicationId: \"\",\n\tname: \"\",\n\tenv: \"\",\n\tenvId: \"\",\n\tapplicationStatus: \"UNKNOWN\",\n\torganizationId: \"\",\n\tapplicationType: \"UNKNOWN\",\n\tcloudScanTarget: {},\n}\n```\n```typescript\ninterface Application {\n\tapplicationId: string\n\tname: string\n\tenv: string\n\tenvId: string\n\tapplicationStatus: ApplicationApplicationStatus\n\torganizationId: string\n\tapplicationType: ApplicationApplicationType\n\tcloudScanTarget: ApplicationCloudScanTarget\n} \n\nconst application: Application = {\n\tapplicationId: \"\",\n\tname: \"\",\n\tenv: \"\",\n\tenvId: \"\",\n\tapplicationStatus: \"UNKNOWN\",\n\torganizationId: \"\",\n\tapplicationType: \"UNKNOWN\",\n\tcloudScanTarget: {},\n}\n```\n```java\npublic class Application {\n\n\tpublic String applicationId;\n\tpublic String name;\n\tpublic String env;\n\tpublic String envId;\n\tpublic ApplicationApplicationStatus applicationStatus;\n\tpublic String organizationId;\n\tpublic ApplicationApplicationType applicationType;\n\tpublic ApplicationCloudScanTarget cloudScanTarget;\n\n}\n```\n```kotlin\ndata class Application(\n\tvar applicationId: String,\n\tvar name: String,\n\tvar env: String,\n\tvar envId: String,\n\tvar applicationStatus: ApplicationApplicationStatus,\n\tvar organizationId: String,\n\tvar applicationType: ApplicationApplicationType,\n\tvar cloudScanTarget: ApplicationCloudScanTarget\n)\n```\n```python\nclass Application:\n\tapplicationId = \"\"\n\tname = \"\"\n\tenv = \"\"\n\tenvId = \"\"\n\tapplicationStatus = \"UNKNOWN\"\n\torganizationId = \"\"\n\tapplicationType = \"UNKNOWN\"\n\tcloudScanTarget = {}\n```\n```rust\nstruct Application {\n\tapplicationId: &str,\n\tname: &str,\n\tenv: &str,\n\tenvId: &str,\n\tapplicationStatus: ApplicationApplicationStatus,\n\torganizationId: &str,\n\tapplicationType: ApplicationApplicationType,\n\tcloudScanTarget: ApplicationCloudScanTarget,\n}\n```\n\n> 👥 Teams Supported\n> If the application belongs to a StackHawk [Team](https://docs.stackhawk.com/web-app/teams.html), only members of the Team can call this endpoint.\n",
        "operationId" : "getApplication",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Application.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Applications group scan results from HawkScan, and coordinate settings to influence HawkScan behavior. The application may also contain a specific environment name and id.\nFor more information, see [Applications](https://docs.stackhawk.com/web-app/applications.html).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/application.Application"
                }
              },
              "application/x-protobuf" : {
                "schema" : {
                  "$ref" : "#/components/schemas/application.Application"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "400" : {
            "description" : "Bad Request"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Applications" ],
        "summary" : "Update application",
        "description" : "## Update Application\nUpdates a Stackhawk Application.\n\nCurrently, can only change an application name.\n\n> 👥 Teams Supported\n> If the application belongs to a StackHawk [Team](https://docs.stackhawk.com/web-app/teams.html), only members of the Team can call this endpoint.\n\n> 🧾 Audited\n> This is recorded as `APPLICATION_MODIFIED` [User Activity](https://apidocs.stackhawk.com/reference/listauditactivity#user-activity-types).\n",
        "operationId" : "updateApplication",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Application.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/application.UpdateApplicationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Applications group scan results from HawkScan, and coordinate settings to influence HawkScan behavior. The application may also contain a specific environment name and id.\nFor more information, see [Applications](https://docs.stackhawk.com/web-app/applications.html).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/application.Application"
                }
              },
              "application/x-protobuf" : {
                "schema" : {
                  "$ref" : "#/components/schemas/application.Application"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "400" : {
            "description" : "Bad Request"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Applications" ],
        "summary" : "Delete application",
        "description" : "## Delete Application\nRemoves this Application from the StackHawk organization.\n\n> ⚠️ Danger\n> HawkScan scan results are grouped by application & environment. Deleting an application **also deletes all environments and scan results collected for that application**.\n> StackHawk will delete scan results on demand. This action is permanent and cannot be undone.\n\n> 🧾 Audited\n> This is recorded as `APPLICATION_REMOVED` [User Activity](https://apidocs.stackhawk.com/reference/listauditactivity#user-activity-types).\n",
        "operationId" : "deleteApplication",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Application.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : { }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "400" : {
            "description" : "Bad Request"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/v1/app/{appId}/perch/stop" : {
      "post" : {
        "tags" : [ "Perch" ],
        "summary" : "Stop a hosted scan",
        "description" : "## Stop a Scan\n\nStops a running hosted security scan and cleans up the resources used for the scan.\n\nThis endpoint will immediately stop any running scan for the specified application and clean up the associated hosted resources. \n\n### Prerequisites\n\n- A scan must be currently running for this application\n\n### Request Body\n\n\n\n| Parameter | Default | Description |\n|:---:|:---:|:---:|\n|id|\"\"||\n|name|\"\"||\n|command|{}||\n\n### Response\n\n\n\n| Parameter | Default | Description |\n|:---:|:---:|:---:|\n|id|\"\"||\n|name|\"\"||\n|status|\"UNKNOWN\"||\n\n```json\n{\n\t\"id\": \"\",\n\t\"name\": \"\",\n\t\"status\": \"UNKNOWN\"\n}\n```\n\n\n### Status Response\n\nThe response will include a status of `HOSTED_SCANNER_DISCONNECTED` to indicate the scan has been successfully stopped.\n\n### Errors\n\n- **404 Not Found**: Application not found, no active scan, or user doesn't have access\n\n> 👥 Teams Supported\n> If the application belongs to a StackHawk [Team](https://docs.stackhawk.com/web-app/teams.html), only members of the Team can call this endpoint.\n> 🧾 Audited\n> This is recorded as `SCAN_ERRORED` [User Activity](https://apidocs.stackhawk.com/reference/listauditactivity#user-activity-types).\n",
        "operationId" : "stopScan",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Application.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/perch.PerchCommandRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/perch.PerchCommandResponse"
                }
              },
              "application/x-protobuf" : {
                "schema" : {
                  "$ref" : "#/components/schemas/perch.PerchCommandResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "400" : {
            "description" : "Bad Request"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/v1/app/{appId}/perch/start" : {
      "post" : {
        "tags" : [ "Perch" ],
        "summary" : "Start a hosted scan",
        "description" : "## Start a Scan\n\nProvisions the resources needed to run a hosted security scan and starts the scan asynchronously.\n\n\n### Prerequisites\n\n- The application must be a Hosted application type\n- The target domain must be verified for hosted scanning\n- No scan should already be running for this application\n\n### Request Body\n\n\n\n| Parameter | Default | Description |\n|:---:|:---:|:---:|\n|id|\"\"||\n|name|\"\"||\n|command|{}||\n\n### Response\n\n\n\n| Parameter | Default | Description |\n|:---:|:---:|:---:|\n|scanKey|\"\"||\n\n```json\n{\n\t\"scanKey\": \"\"\n}\n```\n\n\n### Errors\n\n- **409 Conflict**: A scan is already running for this application\n- **400 Bad Request**: The application is not verified for cloud scanning or is not a cloud application\n- **404 Not Found**: Application not found or user doesn't have access\n\n> 👥 Teams Supported\n> If the application belongs to a StackHawk [Team](https://docs.stackhawk.com/web-app/teams.html), only members of the Team can call this endpoint.\n> 🧾 Audited\n> This is recorded as `SCAN_STARTED` [User Activity](https://apidocs.stackhawk.com/reference/listauditactivity#user-activity-types).\n",
        "operationId" : "startScan",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Application.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/perch.PerchCommandRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/user.ProvisionPerchResponse"
                }
              },
              "application/x-protobuf" : {
                "schema" : {
                  "$ref" : "#/components/schemas/user.ProvisionPerchResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "400" : {
            "description" : "Bad Request"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/v1/app/{appId}/env" : {
      "post" : {
        "tags" : [ "Applications" ],
        "summary" : "Create environment",
        "description" : "## Create Environment\nCreates a new Stackhawk Environment for this application.\n\nThis is represented as a StackHawk Application with populated `env` and `envId` fields.\n\nApplications group scan results from HawkScan, and coordinate settings to influence HawkScan behavior. The application may also contain a specific environment name and id.\nFor more information, see [Applications](https://docs.stackhawk.com/web-app/applications.html).\n\n| Parameter | Default | Description |\n|:---:|:---:|:---:|\n|applicationId|\"\"|The UUID identifier of this application.|\n|name|\"\"|The name of this application.|\n|env|\"\"|The name of this environment. Only set when requesting Application Environments.|\n|envId|\"\"|The UUID identifier of this environment.|\n|applicationStatus|\"ACTIVE\"|The status of this application. Either ACTIVE or ENV_INCOMPLETE.|\n|organizationId|\"\"|The UUID identifier of the organization that owns this application.|\n|applicationType|\"STANDARD\"|The type of this application.|\n|cloudScanTarget|{}|Optional Cloud Scan Target configuration.|\n\n> 👥 Teams Supported\n> If the user belongs to a StackHawk [Team](https://docs.stackhawk.com/web-app/teams.html), a created environment will belong to the user's Team.\n\n> 🧾 Audited\n> This is recorded as `ENVIRONMENT_ADDED` [User Activity](https://apidocs.stackhawk.com/reference/listauditactivity#user-activity-types).\n",
        "operationId" : "createEnvironment",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Application.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/application.NewApplicationEnvRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Applications group scan results from HawkScan, and coordinate settings to influence HawkScan behavior. The application may also contain a specific environment name and id.\nFor more information, see [Applications](https://docs.stackhawk.com/web-app/applications.html).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/application.Application"
                }
              },
              "application/x-protobuf" : {
                "schema" : {
                  "$ref" : "#/components/schemas/application.Application"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "400" : {
            "description" : "Bad Request"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/v1/app/{appId}/env/{envId}" : {
      "post" : {
        "tags" : [ "Applications" ],
        "summary" : "Update environment",
        "description" : "## Update Environment\nUpdates a Stackhawk Environment\n\nCurrently, can only change an environment name.\n\n> 👥 Teams Supported\n> If the application belongs to a StackHawk [Team](https://docs.stackhawk.com/web-app/teams.html), only members of the Team can call this endpoint.\n\n> 🧾 Audited\n> This is recorded as `ENVIRONMENT_MODIFIED` [User Activity](https://apidocs.stackhawk.com/reference/listauditactivity#user-activity-types).\n",
        "operationId" : "updateEnvironment",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Application.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "envId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Environment.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/application.UpdateApplicationEnvRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Applications group scan results from HawkScan, and coordinate settings to influence HawkScan behavior. The application may also contain a specific environment name and id.\nFor more information, see [Applications](https://docs.stackhawk.com/web-app/applications.html).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/application.Application"
                }
              },
              "application/x-protobuf" : {
                "schema" : {
                  "$ref" : "#/components/schemas/application.Application"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "400" : {
            "description" : "Bad Request"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Applications" ],
        "summary" : "Delete environment",
        "description" : "## Delete Environment\nRemoves this Environment from the StackHawk application.\n\n> ⚠️ Danger\n> HawkScan scan results are grouped by application & environment. Deleting an environment **also deletes all scan results collected for that environment**.\n> StackHawk will delete scan results on demand. This action is permanent and cannot be undone.\n\n> 🧾 Audited\n> This is recorded as `ENVIRONMENT_REMOVED` [User Activity](https://apidocs.stackhawk.com/reference/listauditactivity#user-activity-types).\n",
        "operationId" : "deleteEnvironment",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Application.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "envId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Environment.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : { }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "400" : {
            "description" : "Bad Request"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/v1/app/{appId}/env/{envId}/config/default" : {
      "get" : {
        "tags" : [ "Applications" ],
        "summary" : "Get environment default yaml config",
        "description" : "Gets this environment default yaml config.\n\n> 🧾 Audited\n> This is recorded as `ENVIRONMENT_MODIFIED` [User Activity](https://apidocs.stackhawk.com/reference/listauditactivity#user-activity-types).\n",
        "operationId" : "getEnvironmentDefaultConfig",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Application.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "envId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Environment.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Response of the HawkScan configuration for this application.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/application.ApplicationConfigResponse"
                }
              },
              "application/x-protobuf" : {
                "schema" : {
                  "$ref" : "#/components/schemas/application.ApplicationConfigResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "400" : {
            "description" : "Bad Request"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Applications" ],
        "summary" : "Create environment default yaml config",
        "description" : "Creates this environment default yaml config.\n\n> 🧾 Audited\n> This is recorded as `ENVIRONMENT_MODIFIED` [User Activity](https://apidocs.stackhawk.com/reference/listauditactivity#user-activity-types).\n",
        "operationId" : "createEnvironmentDefaultConfig",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Application.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "envId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Environment.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/application.CreateApplicationConfigRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/com.google.protobuf.Empty"
                }
              },
              "application/x-protobuf" : {
                "schema" : {
                  "$ref" : "#/components/schemas/com.google.protobuf.Empty"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "400" : {
            "description" : "Bad Request"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/v1/app/{appId}/alerts/rules/{integrationId}" : {
      "post" : {
        "tags" : [ "Applications" ],
        "summary" : "Upsert alert rule",
        "description" : "Creates or updates this alert rule.\n\n> 🧾 Audited\n> This is recorded as `ALERT_RULE_TRIAGED` [User Activity](https://apidocs.stackhawk.com/reference/listauditactivity#user-activity-types).\n",
        "operationId" : "upsertAlertRule",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Application.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "integrationId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Integration.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/application.UpsertAlertRulesRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Response for a created or updated AlertRules; triaging findings.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/application.UpsertAlertRulesResponse"
                }
              },
              "application/x-protobuf" : {
                "schema" : {
                  "$ref" : "#/components/schemas/application.UpsertAlertRulesResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "400" : {
            "description" : "Bad Request"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/v2/org/{orgId}/envs" : {
      "get" : {
        "tags" : [ "Applications" ],
        "summary" : "List Environments - V2",
        "description" : "## List Environments V2\nLists environments that belong to this organization.\n\nReturns a [**new style** paginated list](https://apidocs.stackhawk.com/docs/pagination-and-sorting) of Environments.\n\n| Parameter | Default | Description |\n|:---:|:---:|:---:|\n|orgId|\"\"|The org id that these environments belong to.|\n|environments|[]|List of environment views.|\n|totalCount|0|Total number of environments in the results.|\n|currentPage|{}|The current page.|\n|hasNext|false|Whether or not there is a next page.|\n|nextPage|{}||\n|nextPageToken|\"\"||\n|hasPrev|false|Whether or not there is a previous page.|\n|prevPage|{}||\n|prevPageToken|\"\"||\n|findingsHealth|{}||\n|scanFrequencyHealth|{}||\n\n### Environment\n\n\n\n| Parameter | Default | Description |\n|:---:|:---:|:---:|\n|environmentId|\"\"|The UUID identifier of this environment.|\n|environmentName|\"\"|The name of this environment.|\n|applicationId|\"\"|The UUID identifier of this application.|\n|applicationName|\"\"|The name of this application.|\n|lastScanId|\"\"|The UUID identifier of the last scan id|\n|lastScanTotalUntriaged|0|The total number of untriaged alerts in the last scan.|\n|lastScanHighUntriaged|0|The total number of high untriaged alerts in the last scan.|\n|lastScanMediumUntriaged|0|The total number of medium untriaged alerts in the last scan.|\n|lastScanLowUntriaged|0|The total number of low untriaged alerts in the last scan.|\n|lastScanTimestamp|0|The timestamp of when the last scan started.|\n|lastScanDuration|0|The duration of the last scan.|\n|lastScanStatus|\"UNKNOWN\"|the status of the last scan.|\n|applicationStatus|\"UNKNOWN\"|the status of the application.|\n|repositoriesCount|0|the number of repositories mapped to an application|\n|attackSurface|{}|the attack surface details for the application.|\n|latestScanConfigHash|\"\"|the config hash of the latest scan config|\n|lastScanCompletedTimestamp|0|the timestamp of when the last scan completed.|\n|lastScanHawkscanVersion|\"\"|the version of HawkScan used for the last scan.|\n|thirtyDayCommitActivity|0|the number of commits made in all connected repositories in the past 30 days for this application.|\n|lastScanExternalAlertStats|[]|Stats about any linked external SAST integrations used to look for related findings.|\n|cloudScanTarget|{}|Cloud Scan Target configuration.|\n|applicationType|\"UNKNOWN\"|The type of this environment's associated application.|\n\nThe returned list of environments is filtered by the organization id and User's API Token Team membership.\n\n### Filter Query Params\n\n* `query`: A string to filter by application and environment name (both are matched on for now).\n* `appIds`: A comma-separated list of application uuids to filter by.\n* `envIds`: A comma-separated list of environment uuids to filter by.\n* `teamIds`: A comma-separated list of team uuids to filter by.\n* `envs`: A comma-separated list of environment names to filter by.\n* `lastScanDate`: A last scan date qualifier to filter by. Possible values are `LAST_24_HOURS`, `LAST_7_DAYS`, `LAST_14_DAYS`, `LAST_30_DAYS`, `OVER_30_DAYS`.\n* `lastScanDateStatus`: A comma-separated list of last scan date statuses to filter by. Possible values are `LAST_SCAN_STATUS_SUCCESS`, `LAST_SCAN_STATUS_ERRORED`, `LAST_SCAN_STATUS_IN_PROGRESS`, and `LAST_SCAN_STATUS_PENDING`.\n\n### Last Scan Fields\n\nAll fields relating to the last scan for a given environment are just that - the last scan recorded for that given environment. If there are no scans, these fields will be empty.\nIf you need more than the most recent scan, use the scan list API instead.\n",
        "operationId" : "listEnvsV2",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Organization.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "query",
          "in" : "query",
          "description" : "A term used to filter results based on matching content in one or more fields.",
          "required" : false,
          "schema" : {
            "pattern" : "^[\\w\\-\\s\\/\\_\\.\\~]*$",
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "sortField",
          "in" : "query",
          "description" : "Resource field to sort paginated response by.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "environmentId", "environmentName", "applicationName", "scanDate", "scanDuration", "mappedRepositoryCount", "scanFindingsCounts", "thirtyDayCommitActivity" ]
          }
        }, {
          "name" : "sortDir",
          "in" : "query",
          "description" : "Paginated results are sorted 'asc' or 'desc'.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "ASC", "DESC", "UNSORTED" ]
          }
        }, {
          "name" : "includeAppHealthStats",
          "in" : "query",
          "description" : "Specifies whether to include application health statistics.",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Pagination page key.",
          "required" : false,
          "schema" : {
            "pattern" : "(^p_.*)?",
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "Pagination response size limit.",
          "required" : false,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "pageToken",
          "in" : "query",
          "description" : "Pagination request page increment.",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "appIds",
          "in" : "query",
          "description" : "A comma-delimited list of UUID identifiers of StackHawk Applications.",
          "required" : false,
          "schema" : {
            "pattern" : "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12},?)*$",
            "type" : "array",
            "items" : {
              "pattern" : "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12},?)*$",
              "type" : "string"
            },
            "default" : [ ]
          }
        }, {
          "name" : "envIds",
          "in" : "query",
          "description" : "A comma-delimited list of UUID identifiers of StackHawk Environments.",
          "required" : false,
          "schema" : {
            "pattern" : "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12},?)*$",
            "type" : "array",
            "items" : {
              "pattern" : "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12},?)*$",
              "type" : "string"
            },
            "default" : [ ]
          }
        }, {
          "name" : "teamIds",
          "in" : "query",
          "description" : "A comma-delimited list of UUID identifiers of StackHawk Teams to filter by.",
          "required" : false,
          "schema" : {
            "pattern" : "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12},?)*$",
            "type" : "array",
            "items" : {
              "pattern" : "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12},?)*$",
              "type" : "string"
            },
            "default" : [ ]
          }
        }, {
          "name" : "envs",
          "in" : "query",
          "description" : "A comma-delimited list of environment names of StackHawk Applications to filter by.",
          "required" : false,
          "schema" : {
            "pattern" : "^(.*,?)+$",
            "type" : "array",
            "items" : {
              "pattern" : "^(.*,?)+$",
              "type" : "string"
            },
            "default" : [ ]
          }
        }, {
          "name" : "lastScanDate",
          "in" : "query",
          "description" : "The enum value for the last scan date filter.",
          "required" : false,
          "schema" : {
            "pattern" : "^[a-zA-Z0-9_]+$",
            "type" : "string",
            "enum" : [ "LAST_SCAN_DATE_UNSPECIFIED", "LAST_24_HOURS", "LAST_7_DAYS", "LAST_14_DAYS", "LAST_30_DAYS", "OVER_30_DAYS" ]
          }
        }, {
          "name" : "applicationTypes",
          "in" : "query",
          "description" : "A comma-separated list of ApplicationType names.",
          "required" : false,
          "schema" : {
            "pattern" : "^[a-zA-Z0-9_,]+$",
            "type" : "array",
            "items" : {
              "pattern" : "^[a-zA-Z0-9_,]+$",
              "type" : "string",
              "enum" : [ "STANDARD", "CLOUD" ]
            },
            "default" : [ "STANDARD" ]
          }
        }, {
          "name" : "lastScanStatus",
          "in" : "query",
          "description" : "A comma-separated list of last scan status filters.",
          "required" : false,
          "schema" : {
            "pattern" : "^[a-zA-Z0-9_,]+$",
            "type" : "array",
            "items" : {
              "pattern" : "^[a-zA-Z0-9_,]+$",
              "type" : "string",
              "enum" : [ "LAST_SCAN_STATUS_UNSPECIFIED", "LAST_SCAN_STATUS_SUCCESS", "LAST_SCAN_STATUS_ERRORED", "LAST_SCAN_STATUS_IN_PROGRESS", "LAST_SCAN_STATUS_PENDING" ]
            },
            "default" : [ ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Paginated response of application environments.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/application_view.ListEnvironmentsViewResponse"
                }
              },
              "application/x-protobuf" : {
                "schema" : {
                  "$ref" : "#/components/schemas/application_view.ListEnvironmentsViewResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/v2/org/{orgId}/apps" : {
      "get" : {
        "tags" : [ "Applications" ],
        "summary" : "List Applications - V2",
        "description" : "## List Applications V2\nLists applications that belong to this organization.\n\nReturns a [**new style** paginated list](https://apidocs.stackhawk.com/docs/pagination-and-sorting) of Applications.\n\n| Parameter | Default | Description |\n|:---:|:---:|:---:|\n|orgId|\"\"|The org id that these applications belong to.|\n|applications|[]|List of applications.|\n|totalCount|0|Total number of applications in the results.|\n|currentPage|{}|The current page.|\n|hasNext|false|Whether or not there is a next page.|\n|nextPage|{}||\n|nextPageToken|\"\"||\n|hasPrev|false|Whether or not there is a previous page.|\n|prevPage|{}||\n|prevPageToken|\"\"||\n\n### Application\n\nApplications group scan results from HawkScan, and coordinate settings to influence HawkScan behavior. The application may also contain a specific environment name and id.\nFor more information, see [Applications](https://docs.stackhawk.com/web-app/applications.html).\n\n| Parameter | Default | Description |\n|:---:|:---:|:---:|\n|applicationId|\"\"|The UUID identifier of this application.|\n|name|\"\"|The name of this application.|\n|env|\"\"|The name of this environment. Only set when requesting Application Environments.|\n|envId|\"\"|The UUID identifier of this environment.|\n|applicationStatus|\"ACTIVE\"|The status of this application. Either ACTIVE or ENV_INCOMPLETE.|\n|organizationId|\"\"|The UUID identifier of the organization that owns this application.|\n|applicationType|\"STANDARD\"|The type of this application.|\n|cloudScanTarget|{}|Optional Cloud Scan Target configuration.|\n\nThe returned list of applications is filtered by the organization id and User's API Token Team membership.\n\n### Filter Query Params\n\n* `query`: A string to filter applications by name.\n* `appIds`: A comma-separated list of application uuids to filter by.\n* `teamIds`: A comma-separated list of team uuids to filter by.\n* `applicationStatus`: A comma-separated list of application statuses to filter by. Possible values are `ACTIVE` and `ENV_INCOMPLETE`.\n",
        "operationId" : "listAppsV2",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Organization.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "query",
          "in" : "query",
          "description" : "A term used to filter results based on matching content in one or more fields.",
          "required" : false,
          "schema" : {
            "pattern" : "^[\\w\\-\\s\\/\\_\\.\\~]*$",
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "sortField",
          "in" : "query",
          "description" : "Resource field to sort paginated response by.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "applicationId", "applicationName", "applicationStatus", "mappedRepositoryCount", "thirtyDayCommitActivity" ]
          }
        }, {
          "name" : "sortDir",
          "in" : "query",
          "description" : "Paginated results are sorted 'asc' or 'desc'.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "ASC", "DESC", "UNSORTED" ]
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Pagination page key.",
          "required" : false,
          "schema" : {
            "pattern" : "(^p_.*)?",
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "Pagination response size limit.",
          "required" : false,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "pageToken",
          "in" : "query",
          "description" : "Pagination request page increment.",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "appIds",
          "in" : "query",
          "description" : "A comma-delimited list of UUID identifiers of StackHawk Applications.",
          "required" : false,
          "schema" : {
            "pattern" : "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12},?)*$",
            "type" : "array",
            "items" : {
              "pattern" : "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12},?)*$",
              "type" : "string"
            },
            "default" : [ ]
          }
        }, {
          "name" : "teamIds",
          "in" : "query",
          "description" : "A comma-delimited list of UUID identifiers of StackHawk Teams to filter by.",
          "required" : false,
          "schema" : {
            "pattern" : "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12},?)*$",
            "type" : "array",
            "items" : {
              "pattern" : "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12},?)*$",
              "type" : "string"
            },
            "default" : [ ]
          }
        }, {
          "name" : "applicationStatus",
          "in" : "query",
          "description" : "A comma-separated list of application status filters.",
          "required" : false,
          "schema" : {
            "pattern" : "^[a-zA-Z0-9_,]+$",
            "type" : "array",
            "items" : {
              "pattern" : "^[a-zA-Z0-9_,]+$",
              "type" : "string",
              "enum" : [ "ACTIVE", "ENV_INCOMPLETE" ]
            },
            "default" : [ ]
          }
        }, {
          "name" : "applicationTypes",
          "in" : "query",
          "description" : "A comma-separated list of ApplicationType names.",
          "required" : false,
          "schema" : {
            "pattern" : "^[a-zA-Z0-9_,]+$",
            "type" : "array",
            "items" : {
              "pattern" : "^[a-zA-Z0-9_,]+$",
              "type" : "string",
              "enum" : [ "STANDARD", "CLOUD" ]
            },
            "default" : [ "STANDARD" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Paginated response of applications.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/application_view.ListApplicationsResponseV2"
                }
              },
              "application/x-protobuf" : {
                "schema" : {
                  "$ref" : "#/components/schemas/application_view.ListApplicationsResponseV2"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/v1/user" : {
      "get" : {
        "tags" : [ "User" ],
        "summary" : "Get the current user",
        "description" : "## StackHawk Current User\n\nThis endpoint provides details about the requesting user. This information helps determine what access an authorized user has on the StackHawk platform, and how they are authenticated.\n\nThe StackHawk user is seperated into two sections. `provider` specifies how the user authenticates. `external` specifies details of the user, and the access they have to the StackHawk Platform.\n\n### User\n\nA StackHawk User as identified by the platform.\n\n| Parameter | Default | Description |\n|:---:|:---:|:---:|\n|stackhawkId|\"\"|An internal identifier for this user. _This is not the user uuid_.|\n|provider|{}|Information about the login provider assigned to this user. [Read More](#providerinfo)|\n|external|{}|Information about the user itself, and how they appear in the platform. [Read More](#userexternal)|\n|createdTimestamp|0|Creation timestamp of this user.|\n\n### ProviderInfo\n\nInformation about a users access Provider to the StackHawk platform.\n\n| Parameter | Default | Description |\n|:---:|:---:|:---:|\n|slug|\"UNKNOWN\"|User access provider.|\n|clientId|\"\"|Provider client Id.|\n|created|0|Milliseconds since epoch timestamp of when the user access was granted.|\n\n### UserExternal\n\nInformation about the User and how they can access the platform.\n\n| Parameter | Default | Description |\n|:---:|:---:|:---:|\n|id|\"\"|The UUID identifier of this user.|\n|email|\"\"|Users email address.|\n|firstName|\"\"|Users first name.|\n|lastName|\"\"|Users last name.|\n|fullName|\"\"|Users full name.|\n|avatarUrl|\"\"|Users avatar url.|\n|applicationIds|[]|An array of application ids this user has access to.|\n|organizations|[]|Organizations a user is a part of. [Read More](#userorganization)|\n|preferences|{}|User preferences; options that can be set by the user. [Read More](#userpreferences)|\n|metadata|[]|Metadata associated to this external user. Primarily used for stuffing 3rd party verification data.|\n\n### UserPreferences\n\nUser settings and preferences for interaction within StackHawk.\n\n| Parameter | Default | Description |\n|:---:|:---:|:---:|\n|dontReceiveWeeklyEmail|false|If the user will be opted out of weekly organization update emails.|\n|defaultOrganizationId|\"\"|The UUID identifier of the organization a user currently logs into.|\n|dontReceiveTrialingEmails|false|If `true`, the user will be opted out of stackhawk subscription-trialing notifications.|\n\nUser preferences can be adjusted from the [account settings page](https://app.stackhawk.com/settings/account) in the StackHawk platform.\n\n### UserOrganization\n\nRepresents the relationship between a User and an Organization they belong to.\n\n| Parameter | Default | Description |\n|:---:|:---:|:---:|\n|organization|{}|The StackHawk organization this user belongs to.|\n|role|\"UNKNOWN\"|The organization role the user belongs to within this organization.|\n|features|[]|Specific access features available to this organization.|\n|metadata|[]|The user's organizational specific metadata.|\n|achievements|[]|Specific product journey events that have triggered for this user.|\n\n### Organization\n\nA StackHawk Organization.\n\n| Parameter | Default | Description |\n|:---:|:---:|:---:|\n|id|\"\"|The UUID identifier of this StackHawk Organization.|\n|name|\"\"|The name of this Organization.|\n|subscription|{}|The billing subscription of this Organization.|\n|isLinkedToExternalBilling|false|If this organization is yet connected to external billing (Stripe).|\n|plan|\"\"|The feature plan this organization belongs to.|\n|features|[]|Specific overrides to the feature flags in the plan.|\n|settings|{}|Organization settings.|\n|createdTimestamp|0|Creation timestamp of this organization.|\n\nA StackHawk platform user can belong to many organizations.\n",
        "operationId" : "getUser",
        "responses" : {
          "200" : {
            "description" : "Response of the current user.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/user.UserResponse"
                }
              },
              "application/x-protobuf" : {
                "schema" : {
                  "$ref" : "#/components/schemas/user.UserResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/v1/scan/{scanId}/uri/{alertUriId}/messages/{messageId}" : {
      "get" : {
        "tags" : [ "ScanResults" ],
        "summary" : "Get scan alert message",
        "description" : "# Scan Alert Messages\n\nProvides the scan alert and message payloads (request and response) identified with the finding.\n\n### Alert Message Response\n\nThe overall container with details for this specific scan alert.\n\n\n\n| Parameter | Default | Description |\n|:---:|:---:|:---:|\n|scanMessage|{}|The scan message container that holds request and response details.|\n|uri|\"\"|The uri or path of the alert finding.|\n|evidence|\"\"|The associated evidence of the alert finding.|\n|otherInfo|\"\"|Additional info associated with this alert finding.|\n|description|\"\"|The details of the alert finding.|\n|param|\"\"|Parameters associated with this alert finding.|\n\n### Scan Message\n\nThe request sent and response received by the scanner.\n\n\n\n| Parameter | Default | Description |\n|:---:|:---:|:---:|\n|id|\"\"|The unique identifier for the message.|\n|requestHeader|\"\"|All request headers.|\n|cookieParams|\"\"|All request cookies.|\n|requestBody|\"\"|The request body.|\n|responseHeader|\"\"|The response headers.|\n|responseBody|\"\"|The response body.|\n\nSee the [Scan Results Analysis](https://apidocs.stackhawk.com/docs/scan-results-analysis) guide for further details on how to use these endpoints.\n",
        "operationId" : "getAlertMessages",
        "parameters" : [ {
          "name" : "scanId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Scan.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "alertUriId",
          "in" : "path",
          "description" : "The unique id for the alert uri.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "messageId",
          "in" : "path",
          "description" : "The unique id for the message.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/application.AlertMsgResponse"
                }
              },
              "application/x-protobuf" : {
                "schema" : {
                  "$ref" : "#/components/schemas/application.AlertMsgResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/v1/scan/{scanId}/alerts" : {
      "get" : {
        "tags" : [ "ScanResults" ],
        "summary" : "List scan result alerts",
        "description" : "## List Scan Alerts\n\nLists the scan alerts associated with this scan.\n\nA scan that has found vulnerabilities will report each finding by the HSTE Plugin that produced that finding.\n\nAn alert can be triggered multiple times, from different url paths. The pluginId associated with an alert is unique per HSTE plugin.\n\nScan Alerts are returned paginated and can be requested with the pagination parameters.\n\n### Application Alert\n\nCalling this endpoint with a given `scanId` _returns an array of one_ `applicationScanResults` object corresponding with that scan.\nThis `applicationScanResults` object will also include the populated `applicationAlerts field`, which is the paginated results of Scan alerts found in that scan.\n\nThe `applicationAlerts` also includes the pluginId identifying the Alert that triggered the scan.\n\nMeaningful scan findings (also known as Alerts) contextual to a run of HawkScan.\n\n| Parameter | Default | Description |\n|:---:|:---:|:---:|\n|scan|{}|The underlying scan this alert was found in.|\n|pluginId|\"\"|The id of the Zap plugin that triggered this alert.|\n|name|\"\"|The name of the Zap plugin this alert triggered for.|\n|description|\"\"|A markdown flavored description of this alert.|\n|severity|\"\"|The severity of this finding. One of \"High\" \"Medium\" or \"Low\".|\n|references|[]|External urls and study references to understand this findings.|\n|uriCount|0|The number of scanned urls that report this alert.|\n|alertStatusStats|[]|Statistical snapshot of alerts by status.|\n|externalAlertsResult|[]|External findings associated with this alert.|\n|cweId|\"\"|The cwe id of this alert.|\n\nThe `scan` field is available from the `applicationScanResults` object, but is not populated on the `applicationAlert`.\nEach `applicationAlert` includes a `pluginId`, which can be used to list the application alert findings.\n\nSee the [Scan Results Analysis](https://apidocs.stackhawk.com/docs/scan-results-analysis) guide for further details on how to use these endpoints.\n",
        "operationId" : "listScanAlerts",
        "parameters" : [ {
          "name" : "scanId",
          "in" : "path",
          "description" : "UUID identifier for this StackHawk Scan.",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "Pagination response size limit.",
          "required" : false,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "pageToken",
          "in" : "query",
          "description" : "Pagination request page increment.",
          "required" : false,
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "sortField",
          "in" : "query",
          "description" : "Resource field to sort paginated response by.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : "id",
            "enum" : [ "id", "name" ]
          }
        }, {
          "name" : "sortDir",
          "in" : "query",
          "description" : "Paginated results are sorted 'asc' or 'desc'.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : "desc",
            "enum" : [ "asc", "desc" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Paginated response of scan alerts.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/application.ListApplicationAlertsResponse"
                }
              },
              "application/x-protobuf" : {
                "schema" : {
                  "$ref" : "#/components/schemas/application.ListApplicationAlertsResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/v1/scan/{scanId}/alert/{pluginId}" : {
      "get" : {
        "tags" : [ "ScanResults" ],
        "summary" : "List scan result alert findings",
[...]
